<h3>Bunge La Wananchi</h3>
<p>This is an open platform for te public to discuss openly on government issues, give views, critisize and suggest possible solutions.
</p>

<h4>Today's Hot Topics</h4>

<form class="" action="/topics" method="post">
  <label for="topic">New Topic</label>
  <input type="text" name="topic" id="topic">
  <button type="button" name="button">Post Topic</button>
</form>
