<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <meta charset="utf-8">
    <title>BLW</title>
  </head>
  <body>
    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">BLW</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Government</a></li>
        <li><a href="#">Social</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>
  </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
